# Ignore build artifacts and temporary files
build/
**/build/
**/Build/
**/BUILD/
*.o
*.obj
*.elf
*.bin
*.hex
*.exe
*.map
*.out
*.log
*.dep
*.d
*.lst
*.pyc
*.pyo
*.swp
*.swo
*.DS_Store
*.user
*.sublime-workspace
*.sublime-project
*.vscode/
.idea/
*.bak
*.tmp
*.stackdump
*.a
*.lib
*.so
*.dylib
*.class
*.cache
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
# CubeIDE specific
Debug/
Release/
.ipch/
*.launch
*.settings/
# *.cproject
# *.project
# *.mxproject
# *.ioc
# Zephyr build
zephyr/
*.mod.c
modules/

*.metadata/
